body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(240, 240, 240);
}

nav {
  height: 75px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 4px rgb(167, 167, 167);
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  height: 365px;
  width: 250px;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  background-color: #f0eef1;
  padding: 25px 25px;
  border-radius: 10px;
}

form,
.read-it {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 7px 0px;
  font-size: 28px;
}

form input {
  border: none;
  border-radius: 5px;
  flex: 1;
  width: 100%;
  font-size: 14px;
  padding: 0px 10px;
  margin: 7px 0px;
  letter-spacing: 1px;
  box-sizing: border-box;
}

#title,
#author,
#pages {
  font-weight: bold;
  font-size: 18px;
}

#checkbox {
  margin-left: 10px;
  height: 15px;
  width: 15px;
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
}

#container-two {
  height: 130px;
  align-items: center;
}

#container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
}

#container-three {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;
  width: 100%;
  gap: 30px;
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

#add-book,
.title,
button,
#add-book,
form,
.account-class {
  font-family: "DM Sans", sans-serif;
  color: black;
}

#add-book {
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 200px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

#account,
#logout {
  display: none;
  margin-left: 15px;
}

#top-buttons {
  display: flex;
  flex-direction: row;
}

.account-class {
  height: 150px;
  width: 260px;
  background-color: white;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 20px); /* Adjust the width and gap accordingly */
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 15px;
  font-size: 19px;
  box-sizing: border-box; /* Ensure padding is included in the width */
  box-shadow: 0px 0px 3px rgb(167, 167, 167);
}

.not-read-btn,
.read-btn,
.read-btn,
.remove-btn,
#submit {
  border: none;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.15s;
}

#submit {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  height: 50px;
}

.not-read-btn {
  background-color: rgb(255, 138, 138);
}

.not-read-btn:hover {
  background-color: rgb(240, 93, 93);
  cursor: pointer;
}

.read-btn,
#submit {
  background-color: rgb(152, 255, 138);
}

.read-btn:hover,
#submit:hover {
  background-color: rgb(140, 236, 102);
  cursor: pointer;
}

.remove-btn {
  margin-top: 15px;
}

.remove-btn:hover {
  cursor: pointer;
  background-color: rgb(219, 219, 219);
}

.p {
  font-family: "DM Sans", sans-serif;
  margin: 0px 0px 15px 0px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 3px;
}

.top-buttons {
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 2px rgb(128, 128, 128);
  border: none;
  border-radius: 10px;
  height: 36px;
  width: 75px;
  font-size: 14px;
}
.top-buttons,
#add-book {
  transition: background-color 0.18s;
}

.top-buttons:hover,
#add-book:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}

.read-it {
  font-size: 20px;
}

.active {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.514);
  justify-content: center;
  align-items: center;
}

@media (max-width: 560px) {
  #container-three {
    width: 100%;
  }
  .book {
    width: 100%;
  }
  #add-book {
    font-size: 19px;
  }
}

@media (max-width: 900px) and (min-width: 560px) {
  .book {
    width: calc(50% - 15px);
  }
}
