body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(240, 240, 240);
}

nav {
  height: 75px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 4px rgb(167, 167, 167);
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
}

#container-two {
  height: 130px;
  align-items: center;
}

#container-two,
#container-three {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 800px;
}

#add-book,
.title,
.top-buttons,
#add-book {
  font-family: "DM Sans", sans-serif;
}

#add-book {
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 175px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 15px 0px;
  font-size: 20px;
}

.read-btn,
.remove-btn {
  border: none;
  width: 80%;
  height: 40px;
  border-radius: 10px;
}

.read-btn {
  background-color: rgb(247, 127, 127);
}

.remove-btn {
  margin-top: 15px;
}

.p {
  font-family: "DM Sans", sans-serif;
  margin: 0px 0px 15px 0px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 3px;
}

.top-buttons {
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 2px rgb(128, 128, 128);
  border: none;
  border-radius: 10px;
  height: 36px;
  width: 75px;
  font-size: 14px;
  margin-left: 7px;
}
.top-buttons,
#add-book {
  transition: background-color 0.18s;
}

.top-buttons:hover,
#add-book:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}
